@import url('https://fonts.googleapis.com/css2?family=Rajdhani&family=Raleway:wght@300&display=swap');


body{
    padding: 0;
    margin: 0;
    font-style: bold;
}
.nav , .teacher ,.campus{
    font-family: 'Raleway', sans-serif;

}
nav{
    background-color: black;
    display: flex;
    padding: 8px;
    justify-content: space-between;
    width: 100%;
    position: fixed;
    z-index: 1;
}
.nav a{
    color: white;
    text-decoration: none;
    padding: 3px 20px;
    transition: .4s;
    
}
.nav a:hover{
    color: rgb(141, 172, 240);
}
.profile{
    color: white;
    padding: 1px 40px;
}
/* section  */
.teacher, .campus{
 display: flex;
 justify-content: center;
 align-items: center;
 
}
.data{
    /* border: 2px solid black; */
    width: 50%;
    height: 100vh;
    padding: 10px 35px;
    display: flex;
    justify-content: center;
    /* align-items: center; */
    font-size: 26px;
    letter-spacing: 3px;
    flex-direction: column;
    background-image: linear-gradient(to right, #cbd0fb, #d1d7fb, #d8defb, #dfe5fb, #e7ecfa, #ecf0fa, #f1f3fa, #f6f7fa, #f8f9fb, #fbfbfc, #fdfdfe, #ffffff);
}
.campusdata{
    background-image: linear-gradient(to left, #cbd0fb, #d1d7fb, #d8defb, #dfe5fb, #e7ecfa, #ecf0fa, #f1f3fa, #f6f7fa, #f8f9fb, #fbfbfc, #fdfdfe, #ffffff);
}

.data p{

    margin: 6px;
}
.data span{
    font-size: 45px;
    padding: 0px;

}

/* btn  */




.button-26 {
    margin: 10px 4px;
  
  background-color: #1652F0;
  border: 1px solid #1652F0;
  border-radius: 4px;
  box-sizing: border-box;
  color: white;
  cursor:pointer;
  font-family: Graphik,-apple-system,system-ui,"Segoe UI";
  font-size: 14px;
  line-height: 1.15;
  padding: 12px 16px;
  transition: .4s;
  
  width: fit-content;


  box-shadow: 1px 2px 10px rgb(0, 0, 0) ;
  z-index: 0;
}


.button-26:hover {
    transform: translateY(5px);
    box-shadow: none;

}

/* .teacherFeedback{
    background: pink;
} */